<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<title>Galactic Burgers</title>
		<link rel="stylesheet" href="/assets/style.css" type="text/css">
		<link rel="stylesheet" href="/assets/reset.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/layouts/burgers.js"></script>
</head>
<body>

</body>
</html>
